*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.location, 
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 40px;
}

.five-day-tag {
    margin-top: 50px;
}

.five-day {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    margin-top: 10px;
}

.one-day {
    padding: 10px;
    height: 100px;
    width: 100px;
    margin-right: 20px;
    border: 3px solid silver;
    border-radius: 10px;
}

.day-one {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

#icon2 {
    margin-left: 20px;
}


.day-two {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

#icon3 {
    margin-left: 20px;
}


.day-three {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

#icon4 {
    margin-left: 20px;
}


.day-four {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

#icon5 {
    margin-left: 20px;
}


.day-five {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

#icon6 {
    margin-left: 20px;
}

.forecast-temp {
    margin-left: 5px;
}
